<div [@routerTransition]>
    <app-page-header [heading]="'Registro de Casos'" [icon]="'fa-edit'"></app-page-header>
    <div class="container">

        <div class="row">
            <div class="col col-xl-10 col-lg-10">
                <div class="card-header " align=center> DATOS DEL CASO </div>

                <div class="card">
                </div>

                <div class="card mb-3">
                    <div class="card-header "> INGRESO DE DATOS CASO </div>
                    <div class="container"></div>
                </div>

            </div>
        </div>
    </div>
</div>