:host /deep/ .datepicker-input {
    .custom-select {
        width: 50%;
    }
}

.contenedor-modal {
    position: medium;
    width: 300%;
    height: 300%;
    text-align: center;
}

.contenedor-modal button {
    position: relative;
    top: 40%;
}